include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include pyproject.toml
include README.rst
include setup.py
recursive-include doc *
recursive-include src *
recursive-include test *.py *.h5
global-exclude *__pycache__/*
global-exclude *.ipynb_checkpoints/*
global-exclude .*.swp
