# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }} ${{ matrix.name-suffix }}"
    runs-on: ${{ matrix.os }}
    strategy:
      # do not cancel tests after first fail
      fail-fast: false
      matrix:
        include:
          - name-suffix: "wheel-h5py_2.8.0"
            os: ubuntu-latest
            python-version: '3.7'
            OLDEST_DEPENDENCIES: 'h5py==2.8.0'

          - name-suffix: "sdist-h5py_2.10.0"
            os: ubuntu-latest
            python-version: '3.8'
            OLDEST_DEPENDENCIES: 'h5py==2.10.0 numpy==1.23.5'

          - name-suffix: "wheel-h5py_3.10.0"
            os: ubuntu-latest
            python-version: '3.12'
            OLDEST_DEPENDENCIES: 'h5py==3.10.0'

          - name-suffix: "wheel-h5py_2.10.0"
            os: macos-latest
            python-version: '3.7.16'
            OLDEST_DEPENDENCIES: 'h5py==2.10.0'
            env:
              MACOSX_DEPLOYMENT_TARGET: 10.15

          - name-suffix: "wheel-h5py_3.8.0"
            os: macos-latest
            python-version: '3.10.8'
            OLDEST_DEPENDENCIES: 'h5py==3.8.0'

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install build tool
        run: python -m pip install --upgrade pip build
      - name: Build sdist and wheel
        run: python -m build
      - name: Install wheel
        run: pip install --pre "$(ls dist/hdf5plugin-*.whl)[test]" --only-binary blosc2 || pip install --pre dist/hdf5plugin-*.whl
      - name: Run the tests with latest h5py
        run: python test/test.py
      - name: Run the tests with oldest h5py
        run: |
          pip install ${{ matrix.OLDEST_DEPENDENCIES }}
          python test/test.py

  build_wheels_macos:
    name: Build ARM64 wheels on macos-11
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v4
      - uses: pypa/cibuildwheel@v2.16.5
        env:
          CIBW_BUILD: cp311-macosx_*
          CIBW_ARCHS_MACOS: arm64
          HDF5PLUGIN_SSE2: False
          HDF5PLUGIN_SSSE3: False
          HDF5PLUGIN_AVX2: False
          HDF5PLUGIN_AVX512: False
          HDF5PLUGIN_NATIVE: False
